* {
    padding: 0;
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: 20% 80%;
    font-family: Roboto, sans-serif;
}

.sidebar {
    background-color: oklch(70.7% 0.165 254.624);
    color: white;
    height: 100vh;
}

svg {
    height: 40px;
    width: 40px;
    fill: white;
    padding-left: 25px;
    padding-right: 25px;
}

.sidebar-header {
    display: flex;
    flex-wrap: wrap;
    font-size: 35px;
    justify-content: flex-start;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 35px;
}

.sidebar-item {
    display: flex;
    flex-wrap: wrap;    
    font-size: 25px;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 20px;
}

.main {
    background-color: white;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.main-header {
    background-color: white;
}

.search {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
}

.search input {
    width: 700px;
    border-radius: 25px;
    border-color: #bfbdbd;
    margin-right: 400px;
}
.search h2 {
    padding-top: 5px;
    padding-left: 50px;
}

.search svg {
    padding-right: 25px;
}

.main-header svg {
    fill: black;
    display: flex;
}

.profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.profile div {
    padding-right: 700px;
}

button {
    background-color: oklch(70.7% 0.165 254.624);
    color: white;
    height: 70px;
    width: 150px;
    border-radius: 50px;
    border-color: oklch(70.7% 0.165 254.624);
    font-size: 25px;
    margin-left: 25px;
}

.main-body {
    background-color: #bfbdbd;
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 1fr 1fr;
}

.your-projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column: span 1;
    grid-row: span 2;
    padding-top: 25px;
    padding-bottom: 15px;
    padding-left: 15px;
    text-align: center;
}

.your-projects-card {
    background-color: white;
    height: 270px;
    width: 550px;
    border-radius: 20px;
}

.announcements {
    grid-row: span 1;
    padding-top: 25px;
    padding-left: 25px;
    display: flex;
}

.trending {
    grid-row: span 1;
    padding-left: 25px;
}

.card {
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 20px;
    align-self: center;
}
