.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 5fr;
}

.header {
    background-color: grey;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.main-content {
    background-color: plum;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.sidebar {
    background-color: pink;
    grid-row: 1 / 3;
}